p {
        font-family: Roboto;
        margin-top: 0px;
      }

      .video-title {
        font-weight: bold;
        font-size: 18px;
        width: 280px;
        line-height: 23px;
        margin-bottom: 5px;
      }

      .video-stat {
        color: rgb(98, 98, 98);
        font-size: 14px;
        margin-bottom: 25px;
      }

      .video-author {
        color: rgb(98, 98, 98);
        font-size: 14px;
        margin-bottom: 25px;
      }
      .video-description {
        color: rgb(98, 98, 98);
        font-size: 14px;
        width: 280px;
        line-height: 23px;
        margin-bottom: 90px;
      }

      .apple-text {
        margin-bottom: 50px;
        font-size: 14px;
        background-color: rgb(227, 65, 64);
        color: white;
        padding: 18px 18px;
        text-align: center;
      }

      .shop-link:hover {
        text-decoration: underline;
        cursor: pointer;
      }